node_modules
.pnp
.pnp.js
coverage
.next
out
build
cache/
foundry-lib/
.vercel
*.tsbuildinfo
.DS_Store
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env*.local
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/vapid.json
data/book-secret
